/* @import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500&display=swap"); */

/****** VARIABLES CSS ******/
:root {
  /*----- Colors -----*/
  --background-color1: #f0f0f0;
  --background-color2: #a0bde7;
  --background-color3: #132a89;
  --background-color4: #e9eaec;

  --text-light-color: #f0f0f0;
  --text-gray-color: rgb(152, 152, 152);
  --text-gray1-color: #e9eaec;
  --text-blue-light-color: rgb(160, 189, 231);
  --text-blue-dark-color: #132a89;
  --text-dark-color: #444444;

  --form-ok-color: #125e2f;
  --form-error-color: #9f3436;

  /*----- Font and typography -----*/

  --mostbiggest-font: 4.5rem;
  --biggest-font: 3.75rem;
  --h2-font: 2.5rem;
  --h3-font: 1.5rem;
  --p-font: 1.25rem;
  --normal-font: 1rem;
  --small-font: 0.75rem;

  /*----- Font weight -----*/
  --font-light-weight: 200;
  --font-medium-weight: 300;
  --font-bold-weight: 400;
  --font-bolder-weight: 500;

  /*----- Margenes -----*/
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

@media screen and (max-width: 768px) {
  :root {
    --mostbiggest-font: 3.25rem;
    --biggest-font: 3.25rem;
    --h2-font: 2rem;
    --h3-font: 1.25rem;
    --p-font: 1rem;
    --normal-font: 0.75rem;
    --small-font: 0.5rem;
  }
}

/****** basic styling ******/

@font-face {
  font-family: GT-FLEXA-STANDARD-REGULAR;
  src: url("../fonts/GT-FLEXA-STANDARD-REGULAR.OTF") format("opentype");
}
@font-face {
  font-family: KUMBHSANS-REGULAR;
  src: url("../fonts/KUMBHSANS-REGULAR.TTF") format("opentype");
}

html {
  scroll-behavior: smooth;
}

[id] {
  scroll-margin-top: 20ex;
}

body {
  font-family: "KUMBHSANS-REGULAR", sans-serif;
  background: var(--background-color4);
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
}

h1,
h2 {
  font-family: GT-FLEXA-STANDARD-REGULAR;
}

h1,
h2,
h3,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a,
i {
  text-decoration: none;
  color: var(--text-darck-color);
}
img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

/********* General *********/

.title {
  font-size: var(--h2-font);
  font-weight: var(--font-bolder-weight);
  color: var(--text-dark-color);
}
.sub_title {
  font-size: var(--h3-font);
  text-align: justify;
}
.text {
  margin: 15px;
  font-size: var(--p-font);
  font-weight: var(--font-medium-weight);
  /* text-align: justify; */
}
.text_normal {
  font-size: var(--normal-font);
}
.container {
  margin: 150px auto;
}
.content {
  width: 85%;
  height: 100%;
  margin: auto;
}

.content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.content_doble {
  display: flex;
  flex-direction: row;
}
.inver {
  display: flex;
  flex-direction: row-reverse;
}
.content_text {
  width: 50%;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  margin: 50px;
}
.background-image {
  width: 50%;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.background-image-sombra {
  background-color: rgba(44, 44, 44, 0.8);
  background-blend-mode: soft-light;
}

.linea {
  margin: 20px 0 0 0;
  position: relative;
}
.linea:before {
  position: absolute;
  content: "";
  top: -10px;
  height: 5px;
  width: 100%;
  background: var(--background-color3);
}
/* .linea:after {
  position: absolute;
  content: "";
  height: 5px;
  width: 30%;
  background: var(--background-color2);
  top: -10px;
} */

.footer_text .linea {
  margin-bottom: 25px;
}
.btnconozca {
  color: var(--background-color3);
  border-bottom: solid var(--text-blue-dark-color);
}
/********* nav *********/

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  z-index: 10;
  background-color: rgba(158, 187, 229, 0.8);
}
.navbar_img {
  z-index: 9;
}
.navbar_img img {
  height: 120px;
}

.navbar-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
}

.navbar-menu li {
  margin-right: 50px;
}

.navbar-menu li a {
  font-size: var(--p-font);
  font-weight: var(--font-bold-weight);
  color: var(--text-dark-color);
  text-align: center;
}
.navbar-menu .idioma {
  color: var(--background-color3);
}
.navbar-menu li a.active {
  color: var(--background-color3);
}

.menu2 {
  transform: translate(0, -100%);
}

@media screen and (max-width: 768px) {
  .navbar-menu {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
  }
  .menu1 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color1);
    transform: translate(0, -500%);
  }
  .menu1.is-active {
    transform: translate(0, 0);
  }
  .menu2 {
    position: fixed;
    top: 0;
    transform: translate(0, 0);
    background: var(--background-color1);
  }
  .navbar_img1 {
    display: none;
  }
  .navbar_img img {
    height: 80px;
  }

  .navbar-menu li {
    padding: 25px;
    margin-left: 0px;
  }
  .navbar-menu li a {
    font-size: var(--h2-font);
    color: var(--text-dark-color);
  }
}

.text-inicio .title {
  font-size: var(--h3-font);
  padding: 0 10rem;
  text-align: center;
}
@media (max-width: 1025px) {
  .text-inicio .title {
    padding: 0 1rem;
  }
}

/******Botton menu******/
.panel-btn {
  margin: auto 0;
  bottom: 1vh;
  right: 1vw;
  width: 4rem;
  height: 4rem;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

/********* header *********/
.home {
  width: 100%;
  height: 95vh;
}
.home_slide {
  width: 100%;
  height: 100%;
  position: relative;
}

.slider-slide1,
.slider-slide2,
.slider-slide3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: hidden;
  transition: opacity 1s ease-out;
}

.home_inicio1 {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/inicio/inicio1.webp);
}
.home_inicio2 {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/inicio/inicio2.webp);
}
.home_inicio3 {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/inicio/inicio3.webp);
}
.home_inicio4 {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/inicio/inicio4.webp);
}
.home_inicio5 {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/inicio/inicio5.webp);
}
.home_inicio6 {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/inicio/inicio6.webp);
}
.home_inicio7 {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/inicio/inicio7.webp);
}
.home_inicio8 {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/inicio/inicio8.webp);
}
.home_servicio1 {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/inicio/serviocios-inicio1.webp);
}
.home_servicio2 {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/inicio/serviocios-inicio2.webp);
}
.home_servicio3 {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/inicio/serviocios-inicio3.webp);
}
.home_servicio4 {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/inicio/serviocios-inicio4.webp);
}
.home_servicio5 {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/inicio/serviocios-inicio5.webp);
}
.home_servicio6 {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/inicio/serviocios-inicio6.webp);
}
.home_servicio7 {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/inicio/serviocios-inicio7.webp);
}
.home_servicio8 {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/inicio/serviocios-inicio8.webp);
}
.home_portfolio1 {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/inicio/port-inicio1.webp);
}
.home_portfolio2 {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/inicio/port-inicio2.webp);
}
.home_portfolio3 {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/inicio/port-inicio3.webp);
}
.home_portfolio4 {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/inicio/port-inicio4.webp);
}
.home_portfolio5 {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/inicio/port-inicio5.webp);
}
.home_portfolio6 {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/inicio/port-inicio6.webp);
}
.home_portfolio7 {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/inicio/port-inicio7.webp);
}
.home_portfolio8 {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/inicio/port-inicio8.webp);
}
.home_contact1 {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/inicio/contact-inicio1.webp);
}

.active {
  opacity: 1;
  visibility: visible;
}

.home_container {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9;
  margin: 0 100px;
  width: 80%;
  height: 50%;
  border: 100px black;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.home_container h1 {
  font-size: var(--biggest-font);
  font-weight: var(--font-bolder-weight);
  line-height: 1;
  color: var(--text-light-color);
}
.home_container h2 {
  font-size: var(--h3-font);
  color: var(--text-light-color);
  font-weight: var(--font-bolder-weight);
  text-align: justify;
}
.slider-btns {
  position: absolute;
  width: 100%;
  height: 100px;
  top: 50%;
  display: flex;
  justify-content: space-between;
  font-size: 3rem;
  font-weight: bold;
}

.slider-btns a {
  display: block;
}

.circle_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.circle {
  margin: 7px;
  display: block;
  height: 20px;
  width: 20px;
  position: relative;
  top: 0;
  left: 0%;
  border-radius: 50px;
  background: #aaaaaa;
}
.active_circle {
  background: var(--background-color3);
}
.none {
  display: none;
}
@media screen and (max-width: 768px) {
  .home_container {
    margin: 0 25px;
    width: 90%;
    height: 75%;
  }

  .home_container h2 {
    font-size: var(--h4-font);
  }
  .home .slider-btns {
    top: 80%;
  }
}

/********* Nosotros *********/
.edificacion {
  height: 70vh;
}
.content-image {
  width: 50%;
  /* height: 500px; */
  position: relative;
}

.nosotros_img1 {
  background-image: url(../assets/nosotros/nosotros1.webp);
}
.nosotros_img2 {
  background-image: url(../assets/nosotros/nosotros2.webp);
}
.nosotros_img3 {
  background-image: url(../assets/nosotros/nosotros3.webp);
}
.nosotros_img4 {
  background-image: url(../assets/nosotros/nosotros4.webp);
}
.nosotros_img5 {
  background-image: url(../assets/nosotros/nosotros5.webp);
}
.nosotros_img6 {
  background-image: url(../assets/nosotros/nosotros6.webp);
}
.nosotros_img7 {
  background-image: url(../assets/nosotros/nosotros7.webp);
}

.content_nosotros p b {
  color: var(--background-color3);
}
.content_nosotros h2 {
  font-size: var(--h3-font);
  color: var(--text-dark-color);
  font-weight: var(--font-bold-weight);
}
.text_lista {
  text-align: left;
}
/********* Edificacion *********/

.servicios_img1 {
  background-image: url(../assets/edificacion/edificacion1.webp);
}
.servicios_img2 {
  background-image: url(../assets/edificacion/edificacion2.webp);
}
.servicios_img3 {
  background-image: url(../assets/edificacion/edificacion3.webp);
}
.servicios_img4 {
  background-image: url(../assets/edificacion/edificacion4.webp);
}
.servicios_img5 {
  background-image: url(../assets/edificacion/edificacion5.webp);
}
.servicios_img6 {
  background-image: url(../assets/edificacion/edificacion6.webp);
}
.servicios_img7 {
  background-image: url(../assets/edificacion/edificacion7.webp);
}
.servicios_img8 {
  background-image: url(../assets/edificacion/edificacion8.webp);
}

/********* Servicios **********/
.servicios .content .content_text {
  width: 100%;
}
.servicios_content {
  display: flex;
  gap: 5rem 1rem;
  flex-wrap: wrap;
}
.servicios_content .servicio {
  height: 10rem;
  flex-basis: 23%;
}

@media (max-width: 768px) {
  .servicios_content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .servicios_content .servicio {
    height: 100px;
  }
}

.servicio h3 {
  padding: 15px;
  color: var(--text-gray-color);
  text-align: center;
}

/********* Proyectos **********/
.proyectos .content .content_text {
  width: 100%;
}
.proyecto h3 {
  padding: 15px;
  color: var(--text-gray-color);
  text-align: center;
}

.proyectos_content {
  display: grid;
  grid-template:
    "fig1 fig1 fig2"
    "fig4 fig3 fig3"
    "fig4 fig5 fig6";

  gap: 5rem 2rem;
}
.proyecto {
  margin: 0;
}
.proyectos_content .proyecto:nth-child(1) {
  grid-area: fig1;
}
.proyectos_content .proyecto:nth-child(2) {
  grid-area: fig2;
}
.proyectos_content .proyecto:nth-child(3) {
  grid-area: fig3;
}
.proyectos_content .proyecto:nth-child(4) {
  grid-area: fig4;
}
.proyectos_content .proyecto:nth-child(5) {
  grid-area: fig5;
}
.proyectos_content .proyecto:nth-child(6) {
  grid-area: fig6;
}

@media (max-width: 768px) {
  .proyectos_content {
    display: flex;
    flex-direction: column;
    gap: 1rem 0;
  }
}

/********* Contacto **********/
.text_centros {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.content_contacto img {
  width: 50%;
  margin: auto;
}
.content_contacto .content_text h2 {
  color: var(--text-dark-color);
}
.content_contacto .content_text h3 {
  color: var(--text-blue-dark-color);
  margin-top: 25px;
  text-align: left;
}
.content_contacto .content_text p {
  color: var(--text-darck-color);
  text-align: left;
}
.content_contacto .content_text .title {
  font-size: 5.5rem;
}
.content_contacto .content_text .sub_title {
  font-size: 1.35rem;
  font-weight: var(--font-bold-weight);
}

/********* Unete *********/
@media (max-width: 768px) {
  .contact-form {
    width: 100%;
  }
  .content_unete {
    display: flex;
    flex-direction: column;
  }
  .content_unete .content_text {
    width: 90%;
  }
  .content_unete .background-image {
    width: 100%;
  }
}

.contact-form > * {
  padding: 0.5rem;
  margin: 1.5rem auto;
  display: block;
  width: 100%;
  border: 0;
}

.contact-form textarea {
  resize: none;
}

.contact-form-response {
  font-size: var(--normal-font);
  font-weight: var(--font-medium-weight);
  text-align: center;
}

.contact-form input,
.contact-form textarea {
  padding: 1rem 1rem;
  font-size: var(--normal-font);
  font-weight: var(--font-bolder-weight);
  color: var(--text-blue-dark-color);
  background-color: #c6c6c6;
  border-bottom: thin solid var(--text-blue-dark-color);
  text-align: left;
}
.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: var(--text-blue-dark-color);
}

.contact-form input[type="submit"] {
  width: 30%;
  font-weight: var(--font-medium-weight);
  cursor: pointer;
  display: inline;
  position: relative;
  left: 70%;
  transition: all 1s ease;
}

.contact-form-error {
  margin-top: -1rem;
  font-size: 100%;
  /* background-color: var(--form-error-color); */
  color: var(--text-gray1-color);
  transition: all 800ms ease;
}

.contact-form-error.is-active {
  display: block;
  animation: show-message 1s 1 normal 0s ease-out both;
}

.none {
  display: none;
}
.contact-form-loader img {
  width: 50px;
  margin: auto;
}

.content_info {
  display: flex;
  flex-direction: column;
}
.info {
  margin: var(--mb-1);
  margin-top: 50px;
  text-align: center;
}
.info > * {
  display: inline;
}
.contact-form-loader img {
  margin: auto;
}
.content_unete .content_text {
  width: 35%;
}
.content_unete .background-image {
  width: 65%;
}

/********* footer *********/

.footer {
  background: var(--background-color1);
  width: 100%;
  height: auto;
  margin: 0;
  filter: drop-shadow(0px 0px 10px #c6c6c6);
}
.content_footer {
  width: 50%;
  margin-left: 45%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer_content {
  width: 30%;
  margin: 15px;
}
.footer_content img {
  height: 65px;
  margin-bottom: 25px;
}
.title_footer {
  color: var(--text-blue-dark-color);
  font-weight: var(--font-bolder-weight);
}
.footer_text .linea {
  margin-bottom: 25px;
}
.footer_text h4 {
  margin: 10px 0;
  color: var(--text-gray-color);
  font-weight: var(--font-bold-weight);
}
.itt {
  font-size: 1.25em;
  margin-right: 15px;
  height: 15px;
  width: 15px;
  line-height: 15px;
  text-align: center;
  justify-content: center;
  border-radius: 5%;
  transition: 0.5s;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .content_footer {
    width: 80%;
    margin-left: 0%;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  .footer_content {
    width: 80%;
  }
}
.redes {
  display: flex;
  flex-direction: row;
}

/*********** Pag de Servicios***************/
.box_servicios {
  display: grid;
  grid-template:
    "fig1 fig1 fig2"
    "fig3 fig4 fig4"
    "fig5 fig5 fig6"
    "fig7 fig8 fig8";

  gap: 5rem 2rem;
}
@media (max-width: 768px) {
  .box_servicios {
    gap: 5rem 1rem;
  }
  .box-servicio h3 {
    font-size: var(--font-light-weight);
  }
}
.proyecto {
  margin: 0;
}
.box_servicios .box-servicio:nth-child(1) {
  grid-area: fig1;
}
.box_servicios .box-servicio:nth-child(2) {
  grid-area: fig2;
}
.box_servicios .box-servicio:nth-child(3) {
  grid-area: fig3;
}
.box_servicios .box-servicio:nth-child(4) {
  grid-area: fig4;
}
.box_servicios .box-servicio:nth-child(5) {
  grid-area: fig5;
}
.box_servicios .box-servicio:nth-child(6) {
  grid-area: fig6;
}
.box_servicios .box-servicio:nth-child(7) {
  grid-area: fig7;
}
.box_servicios .box-servicio:nth-child(8) {
  grid-area: fig8;
}

/*********** Pag de Proyectos***************/

.caractiristicas {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem 0;
}
.caractiristicas div {
  flex-basis: 50%;
}

.caractiristicas div h2,
.caractiristicas div p {
  text-align: center;
}
.content_text .description {
  text-align: justify;
}
.caractiristicas div h2 {
  color: var(--background-color3);
}

/*********** Pag de Privacidad***************/
.privacidad {
  width: 80%;
}
.priv_img {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/inicio/priv.webp);
}

@media screen and (max-width: 768px) {
  .content_text {
    width: 100%;
    margin: 50px 0;
  }
  .background-image {
    width: 100%;
  }

  .content-image {
    width: 100%;
    height: 500px;
  }

  .content_doble {
    flex-direction: column-reverse;
  }
  .content_unete {
    display: flex;
    flex-direction: column;
  }
  .content_unete .content_text {
    width: 90%;
  }
  .content_unete .background-image {
    width: 100%;
  }
}
